body {
    background-color: #E9EBEE;
    margin-top: 42px;
}

header {
    position: fixed;
    display: inline-block;
    background-color: #4469AF;
    top: 0;
    left: 0;
    height: 42px;
    width: 100%;
    z-index: 30;
}

#header-photo {
    width: 100%;
}

#main-container #cover-photo #widgets-box .widget-small {
    display: inline-block;
   /* I thought this would work!
     padding-top:6.5px;
    padding-bottom: 6.5px; */
    width: 297px;
    height: 51px;
    background-color: #FFFFFF;
   /* I thought this would work!
    border-bottom-color: #E9EBEE;
    border-bottom-width: 17px; */
    
}

#main-container #cover-photo #widgets-box .widget-large {
    display: inline-block;
    width: 297px;
    height: 545px;
    background-color: #FFFFFF;
}

#main-container #cover-photo #widgets-box .widget-spacer {
    display: inline-block;
    background-color:#E9EBEE;
    width: 297px;
    height: 17px;
}

#main-container #cover-photo #activity-box .post-box {
    display: inline-block;
    width: 538px;
    height: 153px;
    background-color: #FFFFFF;
    
    
}

#main-container #cover-photo #activity-box .personal-activity {
    display: inline-block;
    padding-top:6.5px;
    padding-bottom: 6.5px;
    width: 538px;
    height: 545px;
    background-color: #FFFFFF;
}

#main-container #cover-photo #activity-box .activity-spacer {
    display: inline-block;
    background-color:#E9EBEE;
    width: 538px;
    height: 17px;
}

#main-container #cover-photo #timeline-bar .timeline-buttons-big {
    box-sizing: border-box;
    display: inline-block;    
    height: 43px;
    width: 95px;
    border-right-color: gray;
    border-right-style: solid;
    border-right-width: 2px;
    border-left-color: gray;
    border-left-style: solid;
    border-left-width: 2px;
    font-size: 16px;
    vertical-align: middle;
    color: #385A97;
}

#main-container #cover-photo #timeline-bar .timeline-buttons-small {
    box-sizing: border-box;
    display: inline-block;
    height: 43px;
    width: 80px;
    border-right-color: gray;
    border-right-style: solid;
    border-right-width: 2px;
    border-left-color: gray;
    border-left-style: solid;
    border-left-width: 2px;
    font-size: 16px; 
    vertical-align: -webkit-baseline-middle; 
    color: #385A97;   
}

#main-container {
    display: inline-block;
    position: relative;
    width: 851px;
    height: 1100px;
    left: 50px;
}

#cover-photo {
    position: absolute;
    background-color: rgb(0, 157, 255);
    height: 315px;
    width: 851px;
    text-align: center;
}



#profile-picture {
    position: relative;
    height:168px;
    width:168px;
    top: 157px;
    left: 17px;
    z-index: 20;
    overflow: hidden;
    border: 5px solid rgb(252, 252, 252);
}

/* Note: There are 17px in-between the widgets-box, timeline-bar, 
and the activity-box. */

#timeline-bar {
    height: 43px;
    width: 851px;
    background-color: #FFFFFF;
    position: absolute;
    top: 315px;
    text-align: center;
    font-size: 0px;
}

#widgets-box {
    background-color: #E9EBEE;
    position:absolute;
    width: 297px;
    height: 1050px;
    top: 375px;
}

#activity-box {
    position: absolute;
    background-color: #E9EBEE;
    width: 537px;
    height: 2500px;
    top: 375px;
    left: 314px;
    overflow: auto;
}

#selfie {
    height: 100%;
    width: 120%;
    transform: translateX(-5%);
}

#banner-photo {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    right: 0px;
}